@model TSAIdentity.Models.Designation

<h1>Designation Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesignationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesignationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organization.OrganizationName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DesignationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>