@model TSAIdentity.ViewModels.ChangePasswordViewModel

<h2>Change Password</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword" method="post">
            <input type="hidden" asp-for="Id" value="@ViewData["EmployeeId"]" />

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="email" class="form-control" value="@ViewData["EmployeeEmail"]" readonly/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="CurrentPassword" type="password" class="form-control" id="currentPasswordInput" />
                    <div class="input-group-append">
                        <span class="input-group-text" style="height:40px;">
                            <i id="currentEyeIcon" class="fa fa-eye-slash"></i>
                        </span>
                    </div>
                </div>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="NewPassword" type="password" class="form-control" id="newPasswordInput" />
                    <div class="input-group-append">
                        <span class="input-group-text" style="height:40px;">
                            <i id="newEyeIcon" class="fa fa-eye-slash"></i>
                        </span>
                    </div>
                </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmNewPassword" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="ConfirmNewPassword" type="password" class="form-control" id="confirmNewPasswordInput" />
                    <div class="input-group-append">
                        <span class="input-group-text" style="height:40px;">
                            <i id="confirmNewEyeIcon" class="fa fa-eye-slash"></i>
                        </span>
                    </div>
                </div>
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
</div>
@section Scripts{
    <script>
        // Function to toggle password visibility
        function togglePasswordVisibility(inputId, eyeIconId) {
            const passwordInput = document.getElementById(inputId);
            const eyeIcon = document.getElementById(eyeIconId);

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                eyeIcon.classList.remove("fa-eye-slash");
                eyeIcon.classList.add("fa-eye");
            } else {
                passwordInput.type = "password";
                eyeIcon.classList.remove("fa-eye");
                eyeIcon.classList.add("fa-eye-slash");
            }
        }

        // Event listeners to toggle password visibility on eye icon click
        const currentPasswordEyeIcon = document.getElementById("currentEyeIcon");
        currentPasswordEyeIcon.addEventListener("click", function () {
            togglePasswordVisibility("currentPasswordInput", "currentEyeIcon");
        });

        const newPasswordEyeIcon = document.getElementById("newEyeIcon");
        newPasswordEyeIcon.addEventListener("click", function () {
            togglePasswordVisibility("newPasswordInput", "newEyeIcon");
        });

        const confirmNewPasswordEyeIcon = document.getElementById("confirmNewEyeIcon");
        confirmNewPasswordEyeIcon.addEventListener("click", function () {
            togglePasswordVisibility("confirmNewPasswordInput", "confirmNewEyeIcon");
        });
    </script>
}